# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------
# Environment
# ----------------------
.env
.env.*
*.env

# ----------------------
# Conda / virtual env
# ----------------------
env/
venv/
.venv/
conda-env/
.envs/

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# RAW DATA (IGNORE)
# ----------------------
data/raw/

# ----------------------
# PROCESSED DATA (KEEP)
# ----------------------
!data/processed/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db